header#header {
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  background-color: #fff;
}
header#header .container {
  max-width: 1200px;
  margin: 0 auto;
}
header#header .container .flex__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  flex-direction: row;
}
header#header .link_col {
  flex: 0.4;
  display: flex;
  align-items: center;
  padding: 25px 0;
}
header#header .link_col ul {
  display: flex;
  list-style: none;
}

header#header .link_col::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: calc(100% - 80px);
  top: 40px;
  background: #a40826;
  z-index: 0;
}
header#header .link_col.left::before {
  left: calc(0px - 6.55%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
header#header .link_col.right::before {
  right: calc(0px - 6.55%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
header#header .link_col.right {
  flex-direction: row-reverse;
}

header#header .logo_col {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

header#header .logo_col img {
  max-height: 100px;
  transform: scale(1.2);
}
